<main style="display:flex;flex-direction: row; justify-content: space-evenly">

<div style="width: 55%" id="map"></div>

<div style="width: 40%;box-shadow:0 1rem 3rem rgba(0,0,0,.175); border-radius: 20px; display:flex;flex-direction:column;" class="bar-cards">

{{#each bars}}
<div  style  ="padding:0 0.5em;"> 

{{!-- {{bars_name}},{{day_of_week}},{{pricing}} --}}
<div class="card shadow" style="width: 80%;margin:auto">
  <div class="card-body">
    <h5 class="card-title">{{bars_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


</div>
{{/each}}

</div> 

</main>

<script src="/javascript/script.js"></script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3yGy9fQWmrjGT3ha2zwjHwiBUXI09-mE&libraries=geometry,places&callback=initMap">
 </script>


{{!-- look up handlebars to link the data from the backend --}}