<h1>Drinks</h1>

{{!-- look up handlebars to link the data from the backend --}}

<h1>Google Map</h1>
<div id="map"></div>


<script src="/javascript/script.js"></script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3yGy9fQWmrjGT3ha2zwjHwiBUXI09-mE&libraries=geometry,places&callback=initMap">
 </script>


{{!-- look up handlebars to link the data from the backend --}}