<main style="display:flex;flex-direction: row; justify-content: space-evenly">

<div style="width: 55%" id="map"></div>

<div style="width: 40%;box-shadow:0 1rem 3rem rgba(0,0,0,.175); border-radius: 20px;" class="bar-cards">

{{#each bars}}
{{bars_name}},{{reviews}}
{{/each}}


</div>
</main>

<script src="/javascript/script.js"></script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3yGy9fQWmrjGT3ha2zwjHwiBUXI09-mE&libraries=geometry,places&callback=initMap">
 </script>


{{!-- look up handlebars to link the data from the backend --}}