
    <section class="infoSection">
        <img class="glass" src="assets/images/drinkglass.png"></a>
            <div class=text>
                <h2 class=mainText>Barhopping made easy</h2>
                <h3 class=infoText>We categorize each day of the week with a mood and vibes for a quick way to find bars based on your day!</h3>
                <button type="button" class="sign-btn">Start finding bars here!</button>
            </div>
        <img class=bigRabbit src="assets/images/unnamed.png"></a>
    </section>

    <section class=text>
        <h2 class=mainText>Our Clients </h2>
        <h3 class=infoText>Anyone who wants a fun time without being overwhelmed by choice!</h3>
    </section>

    <footer></footer>

</body>

{{!-- link to weekdays, pictures, and the blurb --}}