
    <section class="infoSection">
        <img class="glass" src="public/css/images/drinkglass.png"></a>
            <div class=text>
                <h2 class=mainText>Barhopping made easy</h2>
                <h3 class=infoText>We categorize each day of the week with a mood and vibes for a quick way to find bars based on your day!</h3>
                <button type="button" class="sign-btn"><a href="/weekdays"></a>Start finding bars here!</button>
            </div>
        <img class=bigRabbit src="public/css/images/unnamed.png"></a>
    </section>

    <section class=text>
        <h2 class="mainText">To Our Clients </h2>
        <h3 class="infoText" id="client">
            This application is a great way to have your choice of bars narrowed without going through lists of 100 bars like in other restaurant/bar applications.
            We hope anyone in the San Diego area to be able to quickly pick a bar based on anyday of the weeks without taking an hour to decide on a bar.</h3>
    </section>


</body>

{{!-- link to weekdays, pictures, and the blurb --}}