

<section class=dayCards>
        <div class=container>
             <div class=row style="justify-content: center; justify-content: space-evenly;">
        
        <div class="card" style="width: 13rem;">
            <div class="card-body">
              <h5 class="card-title">Moody Mondays</h5>

              <h6 class="card-subtitle mb-2 text-muted">For those moody mondays where you need to cheer up with starting their work week. Have some delicious food and drinks with a nice atmosphere. </h6>
              <button id="btn" type="button" class="sign-btn"><a href="/weekdays/monday">Pick Monday!</a></button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Treat Yourself Tuesdays</h5>

              <h6 class="card-subtitle mb-2 text-muted">For when you want to treat yourself to some fancy food and drinks and just splurge! Have a luxurious experience with your drinks!</h6>
              <button id="btn" type="button" class="sign-btn"><a href="/weekdays/tuesday">Pick Tuesday!</a></button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Hump Wednesdays</h5>

              <h6 class="card-subtitle mb-2 text-muted">Mid-week can be such a drag, but cheer yourself up with these places that'll bring back fun food and drinks!</h6>
              <button type="button" class="sign-btn"><a href="/weekdays/wednesday"></a>Pick Wednesday!</a></button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Thirsty Thursdays</h5>

              <h6 class="card-subtitle mb-2 text-muted">For days where you want dive into drinks and just sate your thirst with cheap and seemingly bottomless drinks!</h6>
              <button type="button" class="sign-btn"><a href="/weekdays/thursday"></a>Pick Thursday!</a></button>

            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Feel Good Fridays</h5>
              <h6 class="card-subtitle mb-2 text-muted">For days where you want to let loose after a long week of work especially with the happy hour deals at these places!</h6>
              <button type="button" class="sign-btn"><a href="/weekdays/friday"></a>Pick Friday!</button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Saturday Nightlife</h5>
              <h6 class="card-subtitle mb-2 text-muted">For days where you want to experience the night scene in the city and enjoy yourself with the atmosphere and meeting new people!</h6>
              <button type="button" class="sign-btn"><a href="/weekdays/saturday"></a>Pick Saturday!</button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Brunch Sundays</h5>
              <h6 class="card-subtitle mb-2 text-muted">Sunday is all about brunch! A day where you can chat with friends about good eats and drink bottomless mimosas!</h6>
              <button type="button" class="sign-btn"><a href="/weekdays/sunday"></a>Pick Sunday!</button>
            </div>
          </div>
        </div>
        </div>
        </div>
    </section>
{{!-- <script src="/javascript/script.js"></script> --}}
{{!-- hard code each day of week. make them clickable buttons that front end javascript deal with --}}