

    <section class=dayCards>
        <div class=container>
             <div class=row style="justify-content: center; justify-content: space-evenly;">
        <div class="card" style="width: 13rem;">
            <div class="card-body">
              <h5 class="card-title">Moody Mondays</h5>
              <h6 class="card-subtitle mb-2 text-muted">For those moody mondays where you need to cheer up.</h6>
              <button type="button" class="sign-btn">Pick Monday!</button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Treat Yourself Tuesdays</h5>
              <h6 class="card-subtitle mb-2 text-muted">For days where you want to treat yourself to some delicious food and drinks!</h6>
              <button type="button" class="sign-btn">Pick Tuesday!</button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Hump Wednesdays</h5>
              <h6 class="card-subtitle mb-2 text-muted">For days where you want to ...</h6>
              <button type="button" class="sign-btn">Pick Wednesday!</button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Thirsty Thursdays</h5>
              <h6 class="card-subtitle mb-2 text-muted">For days where you want have fun and be drunk!</h6>
              <button type="button" class="sign-btn">Pick Thursday!</button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Thank God It's Fridays</h5>
              <h6 class="card-subtitle mb-2 text-muted">For days where you want to let loose after a long week of work!</h6>
              <button type="button" class="sign-btn">Pick Friday!</button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Saturday</h5>
              <h6 class="card-subtitle mb-2 text-muted">For days where you want to treat yourself to some delicious food and drinks!</h6>
              <button type="button" class="sign-btn">Pick Saturday!</button>
            </div>
          </div>

          <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">Brunch Sundays</h5>
              <h6 class="card-subtitle mb-2 text-muted">Sunday is all about brunch including good eats and bottomless mimosas!</h6>
              <button type="button" class="sign-btn">Pick Sunday!</button>
            </div>
          </div>
        </div>
        </div>
        </div>
    </section>

{{!-- hard code each day of week. make them clickable buttons that front end javascript deal with --}}